<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!-- Notice, nothing custom is overridden here - should just inherit standard Spring Boot log setup -->
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>ssss</Pattern>
        </layout>
    </appender>
</configuration>